* {
    margin: 0;
    padding: 0;
    font-family: "TT Lakes";
}
html,
body {
    height: 100%;
}

ul, ul * {
    -webkit-tap-highlight-color: transparent; /* Отключение выделения на мобильных устройствах */
   
}

.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
    height: 100%;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    background: #fff;
    min-height: 750px;
}
    .menu__header {
        justify-content: flex-start;
        display: flex;
        box-sizing: border-box;
        padding: 18px 17px 46px 24px;
        align-items: center;
       
        
    }

    .round {
        border-radius: 20px;
        width: 40px;
        height: 40px; 
        background: #ff3e79;
        border: none;
        cursor: pointer;
        transition: all;
    }
    .round:hover {
        background: #fc2364;
    }
    .menu__round-clouse {
        position: relative;
        margin-right: 16px;
     }
    .menu__round-clouse::before {
        content: "";
        border-radius: 1px;
        position: absolute;
        width: 21px;
        height: 2px;;
        transform: rotate(-135deg);
        background: #fff;
        left: 9px
    }
    .menu__round-clouse::after {
        content: "";
        border-radius: 1px;
        position: absolute;
        width: 21px;
        height: 2px;;
        transform: rotate(-45deg);
        background: #fff;
        right: 10px;
    }

    .menu__logo-i {
        width: 97px;
        height: 51px;
        margin-right: 75px;
    }
    .menu__round-search::before {
        content: url(../icons/search.svg);
        position: relative;
        top: 3px;
    }

  
    .menu__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        row-gap: 32px;
        width: 80%;
        margin-left: 20px;
        outline: none
    }
    ul:focus, ul:active, li:focus, li:active {
        outline: none;
    }
    
    .menu__li {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        position: relative;
        height: 100%;
        
        
    }
    
    .menu__list {
        margin-bottom: 50px;
    }
    .menu__list-item {
        position: relative; /* Чтобы псевдоэлемент позиционировался относительно этого элемента */
        display: block;
        color: #1b1c21;
        text-decoration: none;
        font-weight: 500;
        height: auto;
        min-height: 0;
    }
    
    .menu__list-item::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 4px; 
        height: 32px; 
        border-radius: 30px 30px; 
        background-color: transparent;
        left: -21px; 
        top: 50%; 
        transform: translateY(-50%); 
    }
    
    .menu__list-item:hover {
        color: #7e7e82;
    }
    
    .menu__list-item:hover::before {
        background-color: #41f6d7;
    }


    .menu__footer{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-left: 24px;
    }
        
    .footer__btn {
        display: flex;
        gap: 16px;

        
    }
    .footer__round-phone::before {
        content: url(../icons/phone.svg);
        position: relative;
        top: 1px;
    }
    .footer__round-chat::before {
        content: url(../icons/chat.svg);
        position: relative;
        top: 4px;
    }
    .footer__round-accaunt::before {
        content: url(../icons/accaunt.svg);
    }

    .footer__email {
        font-weight: 500;
        font-size: 16px;
        color: #1b1c21;
        margin: 16px 0 12px 0;
        text-decoration: none;
        list-style: none;
    }

    .footer__phone {
        font-weight: 700;
        font-size: 24px;
        color: #1b1c21;
        text-decoration: none;
        list-style: none;
        cursor: pointer;
        margin-bottom: 40px;
    }
   
    .footer__lang {
        display: flex;
        gap: 7px;
        margin-bottom: 32px;
       
    }
    .lang-text {
        font-weight: 500;
        font-size: 16px;
        color: #1b1c21;
        text-decoration: none;
        text-transform: uppercase;
    }
    .lang-text:hover {
        opacity: 0.5;
    }
   